.plupload-errors {
    color: #d54e21;
    display: none;
}

.plupload-filelist {
    margin-top: 10px;
    color: #000;
}

.plupload-filelist .progress {
    display: none;
}

.plupload-preview {
    display: none;
    overflow: hidden;
    margin-top: 10px;    
}

.plupload-error {
    padding: 10px 0 10px 14px;
    width: auto;
    margin: 0 0 1px;
    -webkit-box-shadow: 0 1px 0 #ddd;
    box-shadow: 0 1px 0 #ddd;    
    background: #fff;
    border-left: 4px solid #fff;
    border-left-color: #dc3232;
}

.plupload-success,
.plupload-new {
    padding: 10px 0 10px 14px;
    width: auto;
    margin: 0 0 1px;
    min-height: 36px;
    -webkit-box-shadow: 0 1px 0 #ddd;
    box-shadow: 0 1px 0 #ddd;    
    background: #fff;
    border-left: 4px solid #fff;
    border-left-color: #46b450;
}

.plupload-status .dismiss {
    display: block;
    float: right;
    margin: 0 10px 0 15px;
    color: #000;
}

.plupload-filelist span {
    color: #d54e21;
}

.wp-plupload-container fieldset {
	border: 4px dashed #b4b9be;
	padding: 2%;
}

.wp-plupload-container fieldset legend {
	font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
    display: inline-block;
}

.wp-plupload-container .plupload-sendfiles {
    display: none;
}

.wp-plupload-container .plupload-features-holder {
    display: block;
    margin-bottom: 10px; 
}

.wp-plupload-container .plupload-features {
    border: 1px dashed #b4b9be;
    display: inline-block;
    padding: 1%;
}

.wp-plupload-container .plupload-filedesc {
    width: 100%;
}

.wp-plupload-container .plupload-filedesc textarea {
    width: 100%;
    padding: 1%;
    height: 100px;    
}
